#content {
    display: block;
    width: 100%;
    margin: 20px;
    padding: 15px;
}

#photo {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 20px 0;
}

#photoIMG {
    width: 200px;
    height: auto;
}

#description {
    padding: 0;
}

.skills {
    margin: 1rem 0;
}

ul:not(.skills) {
    justify-content: center;
    margin-top: 2rem;
}
